machine:
  kubelet:
    nodeIP:
      validSubnets:
%{ for subnet in subnets ~}
        - ${subnet}
%{ endfor ~}
  install:
    disk: /dev/sda
  time:
    servers:
      - /dev/ptp0
  nodeLabels:
    CriticalAddonsOnly: true

cluster:
  allowSchedulingOnControlPlanes: true
  network:
    cni:
      name: none
  proxy:
    disabled: true
  etcd:
    advertisedSubnets:
%{ for subnet in subnets ~}
      - ${subnet}
%{ endfor ~}
