machine:
  kubelet:
    nodeIP:
      validSubnets:
%{ for subnet in subnets ~}
        - ${subnet}
%{ endfor ~}
  install:
    disk: /dev/sda
  time:
    servers:
      - /dev/ptp0
%{ for ntp in ntp_servers ~}
      - ${ntp}
%{ endfor ~}
  nodeLabels:
    CriticalAddonsOnly: true
